

#container{
	display: flex;
	border: 1px solid gray;
	flex-flow: row nowrap;
	justify-content: space-between ;
	align-items: center;
}

#container div{
	width: 200px;
	border: 1px solid red;
	margin: 50px;
	resize: both;
	overflow: auto;
}

#box1{
	height: 120px;
}

#box2{
	height: 100px;
}

#box3{
	height: 40px;
}

#box4{
	height: 200px;
	border-color: blue !important;
}
